@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

*
{
	font-family: 'Ruda', Helvetica, sans-serif;
}

*::selection
{
	background-color: rgba(200,200,200,0.4);
}

.author
{
	opacity: 70%;
	font-size: 70%;
	text-transform: none !important;
	letter-spacing: initial !important;
}

body
{
	margin: 0 auto;
}

audio
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

audio:focus
{
	outline: none;
}

.collapse-text.collapse:not(.show) {
  display: block;
  height: 3.75rem;
  overflow: hidden;
}

.collapse-text.collapsing {
  height: 3.75rem;
}

a.collapse_link.collapsed::after {
  content: '+ Montrer Plus';
}

a.collapse_link:not(.collapsed)::after {
  content: '- Montrer Moins';
}

.bold_text_lyrics
{
	font-weight: bold !important;
}